@font-face {
  font-family: 'Montserrat';
  src:
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  src:
    url('../fonts/Poppinspoppins-boldsemibold.woff') format('woff'),
    url('../fonts/Poppinspoppins-boldsemibold.woff2') format('woff2');
}
